html {
  box-sizing: border-box;
}
body {
  background-image: url(images/light\ theme.jpg);
}
.mainButton {
  padding: 15px;
  border-radius: 5px;
}
thead {
  background-color: cadetblue;
  border: 2px solid black;
}
#constainer {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 70%vw;
}
#windowKeuAndValue {
  display: flex;

  position: fixed;
  top: 60px;
  right: 10px;
  width: 200px;
  min-height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: lavender;
  display: none;
}
#closeWindowKeuAndValue {
  position: fixed;
  top: 30px;
  right: 10px;
  border: 2px solid black;
  border-radius: 70px;
  background-color: lavender;
  padding: 3px;
  display: none;
}
.buttonPlus {
  padding: 3px;
}
.buttonBox {
  display: flex;
  align-items: center;
}
.cellAction {
  display: flex;
  align-items: center;
}

#buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
#wievTable {
  display: flex;
  justify-content: space-around;
}
table {
  max-width: 70%;
}

#wrapperNavTable {
  display: flex;
  justify-content: space-around;
}
#removeSelectedLine {
  display: none;
}
